Hotel/WpfAppClient/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hotel.DataModel.Room" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hotel.DataModel.Room" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoom_Table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room_Table" nillable="true" type="tns:Room_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom_Table" nillable="true" type="tns:ArrayOfRoom_Table" />
  <xs:complexType name="Room_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrvals" nillable="true" type="tns:ArrayOfTime_Arrival" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Info_Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room_TableId" type="xs:int" />
      <xs:element minOccurs="0" name="col_peopls_Room" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room_Table" nillable="true" type="tns:Room_Table" />
  <xs:complexType name="ArrayOfTime_Arrival">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Time_Arrival" nillable="true" type="tns:Time_Arrival" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTime_Arrival" nillable="true" type="tns:ArrayOfTime_Arrival" />
  <xs:complexType name="Time_Arrival">
    <xs:sequence>
      <xs:element minOccurs="0" name="Room_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Rooms" nillable="true" type="tns:Room_Table" />
      <xs:element minOccurs="0" name="Time_Arri_begin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Time_Arri_end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Time_ArrivalId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Time_Arrival" nillable="true" type="tns:Time_Arrival" />
</xs:schema>